fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
faker
python-slugify
requests
Pillow
email-validator
